* {
  box-sizing: border-box;
}

.Board {
  padding: 1em;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: minmax(50px, auto);
  column-gap: 10px;
  row-gap: 1em;
  height: 100vh;
}

.Board__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  background-color: #F8E3A3;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 14px;
}

.Screen {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.Button {
  font-size: 14px;
  border-radius: 3px;
  padding: 1em;
  background-color: #ccc;
}

.ChoosePlayerControls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 30%;
}